nav {
  background-color: #4F4D53;
  padding: 10.5px 0px;
}

nav img {
  position: relative;
  left: 25vw;
}

h1 {
  color: #4F4D53;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-weight: 900;

  position: absolute;
  top: 35vh;
  left: 25vw;
}

#how-it-started {
  border-bottom: 15px solid #E8BE02;
}

h2 {
  color: #E8BE02;
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-weight: 900;

  padding: 60px 0px;

  position: relative;
  left: 25vw;
  width: 60vw;
}

p {
  color: #4F4D53;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;

  padding-bottom: 80px;

  position: relative;
  left: 25vw;
  width: 60vw;
}

footer {
  background-color: #4F4D53;
  display: flex;
}

ul:first-of-type {
  margin-left: 25vw;
}

ul {
  margin: 50px 0px 80px 175px;
}

h3 {
  color: #E8BE02;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 900;

  margin-bottom: 15px;
}

h4 {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.join-us {
  margin-top: 15px;
}
